<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid">
    <nav th:replace="fragments/header :: header"></nav>

    <div class="cart">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Option</th>
            </tr>
            </thead>
            <tbody th:if="${cartItems == 'null'}">
            <th colspan="4">No Product</th>
            </tbody>
            <tbody th:if="${cartItems != 'null'}">
            <tr th:each="cartItemDTO,i : ${cartItems}">
                <th scope="row"><span th:text="${i.index + 1 }"></span></th>
                <td scope="row"><span th:text="${cartItemDTO.getProductDTO().getProductName()}"></span></td>
                <td><span th:text="${cartItemDTO.getQuantity()}"></span></td>
                <td><span th:text="${cartItemDTO.getProductDTO().getProductPrice()}"></span></td>
                <td> Delete</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>